<h1>Books</h1>

<p>
	<strong>Name:</strong>
	<%= link_to @book.name, @book %>
</p>
<p>
	<strong>ISBN:</strong>
	<%= @book.isbn %> </td>
</p>
<p>
	<strong>Author:</strong>
	<%= @book.author	%>
</p>
<p>
	<strong>Publisher:</strong>
	<%= @book.publisher %>
</p>
	